html {
  font-family: Arial;
  font-size: 1em;
}

#nav-bar-elements {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog-post {
  width: 100%;
  height: 10em;
  text-align: left;
  padding: .3em 0 .3em 0;
  margin: .5em 0 .5em 0;
  background-color: #E6E6E6;
  right: 5px;
}

.post-title {
  margin-left: .5em;
  margin-right: .5em;
}

.post-excerpt {
  margin-left: .8em;
  margin-right: .8em;
}

#profile-pic-home {
  margin: .5em .5em .5em 0;
  display: inline-block;
  left: 0;
  right: 0;
}

#description-home {
  display: inline-block;
}

#nav-bar-element {
  display: block;
}

footer {
  background-color: #999999;
  bottom: 0;
  width: 100%;
  padding: .3em 0 .3em 0;
  margin-top: 1%;
  position: fixed;
  left: 0;
  right: 0;
  text-align: left;
  height: 6em;
  vertical-align: middle;
  display: block;
}

footer p {
  margin: 0 10em 0 5em;
  padding: 0 0 0 0;
  text-align: left;
}

#nav-bar {
  margin: 0;
  padding: .3em 0 .3em 0;
  background: #999999;
  width: 100%;
  text-align: center;
}

#nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-bar ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

#nav-bar a:link {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #1A1A1A;
  border: 0;
}

#nav-bar a:visited {
  color: #1A1A1A;
}

#nav-bar a:hover {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #FF0000;
  background-color: #FFFFFF;
}

#linkedin {
  display: inline-block;
  max-width: 50px;
  max-height: auto;
  margin: 10px 10px 10px 50px;
  left: 0;
}

#github {
  display: inline-block;
  max-width: 45px;
  max-height: auto;
  margin: 10px;
}

footer p {
  left: 0;
  margin: .2em;
  display: inline-block;
  vertical-align: middle;
}