html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.8;
  font-weight: 200;
}

input, textarea {
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
  max-width: 100%;
}

.push {
  height: 200px; /* .push must be the same height as .footer */
}

.container {
  min-height: 100%;
  position: relative;
  max-width: 100%;
}

.head {
  margin: 0;
  padding: 0;
  height: 700px;
  background: #87CEEB;
  max-width: 100%;
}

.head p {
  text-align: center;
  vertical-align: middle;
  margin: 150px 0 0 0;
  padding: 50px 0 50px 0;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 4em;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.block {
  margin: 25px auto;
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  border: 0;
}

.block-solid {
  display: block;
  background-color: #5e696d;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  height: 420px;
  text-align: center;
}

.block-solid h2 {
  /*text-transform: uppercase;*/
  letter-spacing: 2px;
  margin: 0;
  font-size: 2em;
  font-weight: 660;
  font-family: 'Montserrat', sans-serif;
  color: #FAFAFA;
  padding: 90px 0 30px 0;
}

.block-solid p {
  font-size: 1.2em;
  letter-spacing: 1.25px;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  font-weight: 600;
  width: 600px;
  text-align: center;
  color: #FAFAFA;
}

.logo {
  float: left;
  padding: 0 0 0 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 660px;
  letter-spacing: 5px;
  color: #E2D0C5;
}

/*.code {
  background-color: #D1D1D1;
  padding: 5px;
  margin: 30px 0 30px 0;
}*/

.title {
  text-align: center;
  margin: auto;
  padding: 0;
  font-size: 1.333em;
  font-weight: 660;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4F7F8A;
}

.title-bar {
  vertical-align: middle;
  text-align: center;
/*  display: block;*/
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px;
  padding: 0;
  font-size: 1.333em;
  font-weight: 660;
  font-family: 'Montserrat', sans-serif;
  color: #FAFAFA;
}

.separator-bar {
  height: 135px;
  width: 100%;
  background-color: #42C0FB;
  padding: 0;
  margin: 20px 0 0 0;
  text-align: center;
  display: inline-block;
}

.short-description {
  width: 370px;
  max-width: 80%;
  padding: 30px;
  padding-bottom: 0;
  margin: 0;
  text-align: left;
  display: inline-block;
}

.long-description {
  width: 430px;
  max-width: 80%;
  padding: 30px;
  padding-bottom: 0;
  margin: 0;
  text-align: left;
  display: inline-block;
}

.long-description h3 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 3px;
}

.short-description h3 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.circular {
  display: block;
  margin: 25px auto 25px auto;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  background: url("../imgs/phil-borel-portrait.jpeg") no-repeat;
  }

.center-inner {
  float: center;
  position: relative;
  text-align: center;
}

.center-inner img {
  width: 300px;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 30px;
  border: 0 solid black;
}

.nav-bar {
  margin: 0;
  height: 52px;
  padding: 30px 0 0 0;
  background: #4F7F8A;
  max-width: 100%;
  text-align: right;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
/*  border-bottom: 1px solid white;*/
}

.nav-bar ul li {
  margin: 30px;
  padding: 0;
  display: inline;
}

.nav-bar a:link {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  color: #E2D0C5;
  border: 0;
  font-size: .9em;
}

.nav-bar a:visited {
  color: #E2D0C5;
  font-size: .9em;
}

.nav-bar a:hover {
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  color: #E2D0C5;
  font-size: .9em;
  background-color: #FFFFFF;
}

#nav-bar-right {
  padding-right: 0;
  margin: 0 200px 0 30px;
}

.contact-button {
  font-weight: 600;
  color: #FAFAFA;
  background-color: #42C0FB;
  width: 200px;
  padding: 10px 30px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: .9em;
  font-style: uppercase;
  text-decoration: none;
}

.divider {
  height: 45px;
}

.footer {
  position: relative;
  display: block;
  bottom: 0;
  top: 100%;
  max-width: 100%;
  background-color: #364347;
  text-align: center;
  height: 200px;
}

.footer p {
  font-size: .8em;
  font-weight: 300;
  color: #C0C0C0;
  text-align: center;
  padding: 5px;
  margin: 0;
}

.footer img {
  width: auto;
  height: 60px;
  margin: 55px 10px 5px 10px;
  padding: 0;
}

#grey {
  background-color: #f5f5f5;
}

/*--------------------------Blog--------------------------*/
.blog-post {
  width: 100%;
  height: 10em;
  text-align: left;
  padding: .3em 0 .3em 0;
  margin: .5em 0 .5em 0;
  background-color: #E6E6E6;
  right: 5px;
}

.post-title {
  margin-left: .5em;
  margin-right: .5em;
}

.post-excerpt {
  margin-left: .8em;
  margin-right: .8em;
}